ws63v100/sdk/interim_binary/ws63/libs/**
common/hal/media/audio/hi3403v100
common/hal/media/codec/hi3403v100
common/hal/media/common/hi3403v100
common/hal/media/format/hi3403v100
hi3861v100/sdk_liteos/build/build_tmp/**
hi3861v100/sdk_liteos/third_party/u-boot-v2019.07/**
**.pyc
hi3861v100/sdk_liteos/tools/nvtool/out_nv_bin/**
hi3861v100/sdk_liteos/ohos/libs/**
hi3861v100/sdk_liteos/output/**
hi3861v100/sdk_liteos/.sconsign.dblite
hi3861v100/sdk_liteos/build/libs/**
ws63v100/sdk/output/**
ws63v100/sdk/application/ws63/ws63_liteos_mfg/**/*.bin
