*.tgz filter=lfs diff=lfs merge=lfs -text
*.trp filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.8svn filter=lfs diff=lfs merge=lfs -text
*.9svn filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_sys.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vpss.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hildci.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi_sensor_i2c.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_AEC.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_aio.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_h264e.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hiawb.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_wnr.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libaaccomm.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_gdc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_common.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_ai.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_jpege.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vo.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hiae.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi_osal.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_EQ.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libdnvqe.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libsns_imx335.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_dis.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_nnie.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vdec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_talkv2.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libtde.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libVoiceEngine.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_ive.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hiir_auto.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_AGC.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libmd.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_jpegd.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hicalcflicker.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_RES_ext.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_RES.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libaacsbrdec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_rgn.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libisp.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libive.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libmpi.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vgs.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_ANR.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_HPF.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libaacenc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_aenc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_h265e.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhifisheyecalibrate.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_adec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libupvqe.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libaacdec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhdmi.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_base.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vfmw.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hiacs.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hidrc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libsecurec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libaacsbrenc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_ao.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vedu.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_venc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhive_record.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libnnie.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libsdk.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi_irq.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_acodec.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_chnl.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_isp.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_rc.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/libhi3516cv500_vi.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hiawb_natura.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib_lite/lib_hidehaze.so filter=lfs diff=lfs merge=lfs -text
sdk_linux/soc/lib/libisp.so filter=lfs diff=lfs merge=lfs -text
